.TableContainer
    // padding-bottom: 5px
    // margin-bottom: 20px
    // padding: 1rem
    // font-size: 14px

    .table 
        border-radius: 4px
        // border: 1px solid #ddd
        width: 100%
        max-height: 500px

        .tr:last-child 
            .td 
                border-bottom: 0
            
        .td
            &:not(:first-child)
                font-family: dm, Menlo, Monaco, "Courier New", monospace

        .th, .td:first-child
            font-weight: 500
            background-color: #515151

        .td:first-child
            &.relevant
                color: #d500f9
                font-weight: 900

            &.calc
                color: orange
                font-weight: 900

        .th, .td 
            padding: 8px 12px
            // border-bottom: 1px solid #ddd
            // background-color: #fff
            overflow: hidden
            text-align: right
            border-bottom: 1px solid rgba(81, 81, 81, 1)

                // border-top: 1px solid rgba(81, 81, 81, 1)

            &:last-child 
                border-right: 0

            &:first-child
                text-align: left
                // background-color: black
                // color: white
                position: relative
                text-overflow: ellipsis
                white-space: nowrap
                overflow: hidden
                // overflow: visible
                text-w

                &:hover
                    position: absolute
                    text-overflow: initial
                    overflow: visible

                    span
                        background-color: #515151
                        padding: 10px

                // span
                //     position: absolute
                //     overflow: hidden
                //     white-space: nowrap
                    // background-color: black

                    // width: 250px !important
                    // white-space: inherit
                    
        
        &.sticky 
            overflow: scroll

            .header, .footer 
                position: sticky
                z-index: 1
                // background: black
                color: white
                // width: fit-content
        
            .header 
                top: 0
                // box-shadow: 0px 2px 2px #ccc
                
                .th
                    // background-color: black
        
            .body 
                position: relative
                z-index: 0

            [data-sticky-td] 
                position: sticky
        
            // [data-sticky-last-left-td] 
            //     box-shadow: 2px 0px 2px #ccc
        
            // [data-sticky-first-right-td] 
            //     box-shadow: -2px 0px 2px #ccc
      
    
  
      
    
  