.TableContainer
    // padding: 1rem
    font-family: dm, Menlo, Monaco, "Courier New", monospace
    font-size: 14px

    .table 
        // border: 1px solid #ddd
        width: 100%
        max-height: 500px

        .tr:last-child 
            .td 
                border-bottom: 0
            
        .th, .td 
            padding: 5px
            // border-bottom: 1px solid #ddd
            // background-color: #fff
            overflow: hidden
            text-align: right

            &:last-child 
                border-right: 0

            &:first-child
                text-align: left
                // background-color: black
                // color: white
                position: relative
                // text-overflow: ellipsis
                // overflow: visible

                &:hover
                    overflow: visible

                    span
                        background-color: black

                span
                    position: absolute
                    overflow: hidden
                    white-space: nowrap
                    // background-color: black

                    // width: 250px !important
                    // white-space: inherit
                    
        
        &.sticky 
            overflow: scroll

            .header, .footer 
                position: sticky
                z-index: 1
                // background: black
                color: white
                // width: fit-content
        
            .header 
                top: 0
                // box-shadow: 0px 2px 2px #ccc
                
                .th
                    // background-color: black
        
            .body 
                position: relative
                z-index: 0

            [data-sticky-td] 
                position: sticky
        
            // [data-sticky-last-left-td] 
            //     box-shadow: 2px 0px 2px #ccc
        
            // [data-sticky-first-right-td] 
            //     box-shadow: -2px 0px 2px #ccc
      
    
  
      
    
  