.StockSearcher_container
    position: relative

    .StockSearcher_SearchResults
        position: absolute
        top: 42px
        right: 0
        max-height: 250px
        min-width: 250px
        overflow: auto